#minijuego-container {
    position: absolute;
    top: 50px;
    right: 50px;
    border: 2px solid #000;
    background: #222;
    padding: 10px;
    z-index: 10;
    display: none; /* Empieza oculto */
  }
  #info {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: white; /* Texto en blanco */
    padding: 20px;
    font-size: 24px;
    font-family: Arial, sans-serif; /* Fuente legible */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
    z-index: 1000;
    text-align: center;
}

#info br {
    margin: 10px 0; /* Espacio entre líneas */
}

